<% extend('../partials/template')%>

<div id="content clearfix">
<table class="butikken">
<thead>
<tr>
<th>KittyCoffee</th>
<th></th>
<th></th>
<th></th>
</tr>
</thead>
<tbody>

<% sidens_kaffe.forEach(kaffe =>{ %>

<tr>
    <td><img src="/billeder/<%= kaffe.kaffe_billede %>"></td>

   <td class="kaffe_id" data-id="<%= kaffe.kaffe_id %>">
    <%= kaffe.kaffe_id %>
    </td>
       
    <td class="kaffe_navn" data-navn="<%= kaffe.kaffe_navn %>">
    <%= kaffe.kaffe_navn %>
    </td>

    <td class="kaffe_pris" data-pris="<%= kaffe.kaffe_pris %>">
    <%= kaffe.kaffe_pris %>
    </td>



 <td class="produkt_stk" >
    <input type="number" name="køb" value="1">
    <button class="buy">Tilføj</button>
    </td>

</tr>


<% }); %>
</tbody>

</table>


<div>
Side:
<% for(let i = 1; i <= Math.ceil(antal_kaffer / kaffe_pr_side); i++){%> 
<a href="?side=<%= i %>" class="<%= (side == i ? 'active' : '') %>">
<%= i %></a>
<% } %>
</div>

</div>
<script>
document.querySelectorAll('.buy').forEach(button =>{
    button.addEventListener('click', (event) =>{
        let row = event.target.parentNode.parentNode;

        console.log(row);

        let id = row.querySelector('.kaffe_id').dataset['id'];
        let navn = row.querySelector('.kaffe_navn').dataset['navn'];
        let pris = row.querySelector('.kaffe_pris').dataset['pris'];
        let antal = row.querySelector('.produkt_stk').childNodes[1].value;

        Kurv.PutIKurv(id, navn, pris, antal);

        row.querySelector('.produkt_stk').childNodes[1].value = 1;

        opdaterMiniKurv();
    });
});

</script>












